{% extends "index.html" %}
{% block content %}
<h2>
    Mis Citas:
</h2>
    {% for citation in CitationsList %}
        {% if citation.id_user == user %}
        <div class="citation">
            <b>Peluquería: </b> {{ citation.id_schedule.hairdresser.hairdressing.name }} <br />
            <b>Peluquero: </b> {{ citation.id_schedule.hairdresser.name }} <br />
            <b>Dia: </b> {{ citation.id_schedule.get_day_display }} <br />
            <b>Hora: </b> {{ citation.id_schedule.get_hour_display }}
        <div>
            <form action="{% url 'citation_delete' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_citation" value="{{ citation.id }}">
                <input type="submit" value="Eliminar Cita">
            </form>
        </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock	%}