{% extends "index.html" %}
{% block content %}
<h1>
	{{hairdressing.name}}

</h1>
<h2>Datos de la Peluquería:</h2>

<ul>
	<li>Nombre: {{ hairdressing.name }}</li>
    <li>Dirección: {{ hairdressing.street }}, {{ hairdressing.number }}</li>
    <li>Ciudad: {{ hairdressing.city }}</li>
    <li>Teléfono: {{ hairdressing.phone }}</li>

</ul>
<h2>Peluqueros:</h2>
<ul>
{% for hairdresser in hairdressing.hairdressers.all %}
		<li><a href="{% url 'hairdresser_detail' hairdressing.id hairdresser.id %}">
			{{ hairdresser.name }}
			</a></li>
	{% empty %}<li>No hay peluqueros en esta peluquería.</li>
	{% endfor %}
</ul>


<a href="javascript:window.history.back()">Volver</a>


{% endblock %}
