{% extends "index.html" %}
{% block content %}

<h2>Datos del Peluquera/o:</h2>

<ul>
	<li>Nombre: {{ hairdresser.name }}</li>
    <li>Especialidad: {{ hairdresser.speciality }}</li>

</ul>

<h2>Horario Disponible:</h2>
<ul>

</ul>

<form action="{% url 'citation_create' %}" method="POST">
{% csrf_token %}
<select name="schedule">
{% for schedule in hairdresser.schedule.all %}
    <option value="{{ schedule.id }}">
        {{ schedule.get_day_display }}
        {{ schedule.get_hour_display }}
    </option>
{% empty %}<li>No hay horarios para este peluquero.</li>
{% endfor %}
</select> <br /><br />
<input type="text" name="user" value="{{ user }}">
<input class="button" type="submit" value="Pedir Cita">
</form>

<div class="hr"></div>

<a href="javascript:window.history.back()">Volver</a>


{% endblock %}