<!DOCTYPE html>
<html lang="en">
<header>

    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>Reserva online en el Centro de Peluqueria</title>

            <link rel="stylesheet" href="{% static 'css/web.css' %}">

    <ul>
        <li><a> href= '/' >Inicio</a> </li>
    </ul>


</header>
<body>
    <div>
        <h1> <a href = " "> Centro de Peluqueria </a> </h1>
    </div>

    <div>
        <h2> <a> Lista de Peluquerias</a></h2>
        <p> A continuación, encontrarás las peluquerias associadas con nosotros: </p>

    </div>



    <div>
          <p>  date </p>
    </div>
</body>
</html>