<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Hairdressing App</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="header-title"><h1>Hairdressing App</h1></div>
        <div id="login-form">{% if user.username %} Bienvenido {{ user.username }}! | <a href="/logout">Desconectar</a> {% else %} <a href="/login">Acceder</a> {% endif %}</div>
    </div>

    <div id="main">
        <div id="content-left">
            <u>
                <li><a href="/hairdressing">Listar Peluquerias</a></li>
                {% if user.username %}
                <li><a href="/citations">Ver mis Citas</a></li>
                {% endif %}
            </u>
        </div>

        <div id="content">
            {% block content %}
			    {% if error_message	%}<p><strong>{{	error_message }}</strong></p>{% endif %}
		    {% endblock	%}
        </div>
    </div>
</div>
</body>
</html>